CORE_ETH_IFACE=eth0
EDGE_ETH_IFACE=eth0
CORE_WIFI_IFACE=wlan0
EDGE_WIFI_IFACE=wlan0
CORE_ETH_IP=192.168.50.1
EDGE_ETH_IP=192.168.50.2
LINK_PREFIX=24
LINK_SUBNET=192.168.50.0/24
WIFI_SSID=CHANGE_ME
WIFI_PASSWORD=CHANGE_ME
ROS_DOMAIN_ID=0
