<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robot_savo_core"
    params="
      base_length:=0.2796
      base_width:=0.2100
      base_height:=0.0040
      third_plate_length:=0.1420
      third_plate_width:=0.1440
      third_plate_height:=0.0040
      base_link_z:=0.0325
      deck_thickness:=0.004
      base_plate_z:=-0.0155
      first_plate_z:=0.0495
      second_plate_z:=0.1655
      third_plate_z:=0.2495
      base_mass:=1.20
      deck_mass:=0.20
    ">

    <link name="base_footprint"/>

    <link name="base_link">
      <inertial>
        <mass value="0.001"/>
        <inertia
          ixx="0.000001"
          ixy="0.0"
          ixz="0.0"
          iyy="0.000001"
          iyz="0.0"
          izz="0.000001"/>
      </inertial>
    </link>

    <joint name="base_footprint_to_base_link" type="fixed">
      <parent link="base_footprint"/>
      <child link="base_link"/>
      <origin xyz="0 0 ${base_link_z}" rpy="0 0 0"/>
    </joint>

    <xacro:fixed_box
      name="chassis_link"
      parent="base_link"
      xyz="0 0 ${base_plate_z}"
      rpy="0 0 0"
      size_xyz="${base_length} ${base_width} ${base_height}"
      mass="${base_mass}"
      material="savo_dark_gray"
    />

    <xacro:fixed_box
      name="middle_deck_link"
      parent="base_link"
      xyz="0 0 ${first_plate_z}"
      rpy="0 0 0"
      size_xyz="${base_length} ${base_width} ${deck_thickness}"
      mass="${deck_mass}"
      material="savo_gray"
    />

    <xacro:fixed_box
      name="top_deck_link"
      parent="base_link"
      xyz="0 0 ${second_plate_z}"
      rpy="0 0 0"
      size_xyz="${base_length} ${base_width} ${deck_thickness}"
      mass="${deck_mass}"
      material="savo_light_gray"
    />

    <xacro:fixed_box
      name="lidar_deck_link"
      parent="base_link"
      xyz="0 0 ${third_plate_z}"
      rpy="0 0 0"
      size_xyz="${third_plate_length} ${third_plate_width} ${third_plate_height}"
      mass="${deck_mass}"
      material="savo_light_gray"
    />

  </xacro:macro>

</robot>
