<?xml version="1.0"?>
<robot name="robot_savo" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_transmissions" default="false"/>
  <xacro:arg name="use_gazebo" default="false"/>
  <xacro:arg name="base_length" default="0.2796"/>
  <xacro:arg name="base_width" default="0.2100"/>
  <xacro:arg name="base_height" default="0.0040"/>
  <xacro:arg name="third_plate_length" default="0.1420"/>
  <xacro:arg name="third_plate_width" default="0.1440"/>
  <xacro:arg name="third_plate_height" default="0.0040"/>
  <xacro:arg name="base_link_z" default="0.0325"/>
  <xacro:arg name="deck_thickness" default="0.004"/>
  <xacro:arg name="base_plate_z" default="-0.0155"/>
  <xacro:arg name="first_plate_z" default="0.0495"/>
  <xacro:arg name="second_plate_z" default="0.1655"/>
  <xacro:arg name="third_plate_z" default="0.2495"/>
  <xacro:arg name="base_mass" default="1.20"/>
  <xacro:arg name="deck_mass" default="0.20"/>
  <xacro:arg name="wheel_radius" default="0.0325"/>
  <xacro:arg name="wheel_width" default="0.030"/>
  <xacro:arg name="wheel_front_x" default="0.080"/>
  <xacro:arg name="wheel_rear_x" default="-0.080"/>
  <xacro:arg name="wheel_left_y" default="0.108"/>
  <xacro:arg name="wheel_right_y" default="-0.108"/>
  <xacro:arg name="wheel_z" default="0.0"/>
  <xacro:arg name="wheel_mass" default="0.12"/>
  <xacro:arg name="lidar_xyz" default="0 0 0.2975"/>
  <xacro:arg name="lidar_rpy" default="0 0 -3.089891"/>
  <xacro:arg name="imu_xyz" default="0 -0.0465 -0.0175"/>
  <xacro:arg name="imu_rpy" default="0 0 0"/>
  <xacro:arg name="camera_xyz" default="0.130 0 0.1925"/>
  <xacro:arg name="camera_rpy" default="0 0 0"/>
  <xacro:arg name="camera_color_xyz" default="-0.000287127564661 0.014867129735649 0.000134048212203"/>
  <xacro:arg name="camera_color_rpy" default="-0.007168423593435 0.000448528015039 0.010917321307075"/>
  <xacro:arg name="tof_left_xyz" default="0 0.106 -0.0075"/>
  <xacro:arg name="tof_left_rpy" default="0 0 1.57079632679"/>
  <xacro:arg name="tof_right_xyz" default="0 -0.106 -0.0075"/>
  <xacro:arg name="tof_right_rpy" default="0 0 -1.57079632679"/>
  <xacro:arg name="ultrasonic_xyz" default="0.137 0 0.0235"/>
  <xacro:arg name="ultrasonic_rpy" default="0 0 0"/>
  <xacro:arg name="display_xyz" default="0.115 0 0.145"/>
  <xacro:arg name="display_rpy" default="0 0 0"/>
  <xacro:arg name="respeaker_xyz" default="0 0 0.180"/>
  <xacro:arg name="respeaker_rpy" default="0 0 0"/>
  <xacro:arg name="pantilt_mount_xyz" default="0.115 0 0.2115"/>
  <xacro:arg name="pantilt_mount_rpy" default="0 0 0"/>
  <xacro:arg name="depth_obstacle_xyz" default="0.130 0 0.1925"/>

  <xacro:include filename="$(find savo_description)/urdf/materials.xacro"/>

  <xacro:include filename="$(find savo_description)/urdf/macros/inertial_macro.xacro"/>
  <xacro:include filename="$(find savo_description)/urdf/macros/box_macro.xacro"/>
  <xacro:include filename="$(find savo_description)/urdf/macros/cylinder_macro.xacro"/>
  <xacro:include filename="$(find savo_description)/urdf/macros/wheel_macro.xacro"/>
  <xacro:include filename="$(find savo_description)/urdf/macros/sensor_macro.xacro"/>
  <xacro:include filename="$(find savo_description)/urdf/macros/camera_macro.xacro"/>
  <xacro:include filename="$(find savo_description)/urdf/macros/pi_mount_macro.xacro"/>

  <xacro:include filename="$(find savo_description)/urdf/robot_savo_core.xacro"/>
  <xacro:include filename="$(find savo_description)/urdf/robot_savo_wheels.xacro"/>
  <xacro:include filename="$(find savo_description)/urdf/robot_savo_sensors.xacro"/>
  <xacro:include filename="$(find savo_description)/urdf/robot_savo_two_pi.xacro"/>
  <xacro:include filename="$(find savo_description)/urdf/robot_savo_costmap_frames.xacro"/>
  <xacro:include filename="$(find savo_description)/urdf/robot_savo_transmissions.xacro"/>
  <xacro:include filename="$(find savo_description)/urdf/robot_savo_gazebo.xacro"/>

  <xacro:robot_savo_core
    base_length="$(arg base_length)" base_width="$(arg base_width)"
    base_height="$(arg base_height)" base_link_z="$(arg base_link_z)"
    third_plate_length="$(arg third_plate_length)"
    third_plate_width="$(arg third_plate_width)"
    third_plate_height="$(arg third_plate_height)"
    deck_thickness="$(arg deck_thickness)"
    base_plate_z="$(arg base_plate_z)"
    first_plate_z="$(arg first_plate_z)"
    second_plate_z="$(arg second_plate_z)"
    third_plate_z="$(arg third_plate_z)"
    base_mass="$(arg base_mass)" deck_mass="$(arg deck_mass)"/>

  <xacro:robot_savo_wheels
    wheel_radius="$(arg wheel_radius)" wheel_width="$(arg wheel_width)"
    wheel_front_x="$(arg wheel_front_x)" wheel_rear_x="$(arg wheel_rear_x)"
    wheel_left_y="$(arg wheel_left_y)" wheel_right_y="$(arg wheel_right_y)"
    wheel_z="$(arg wheel_z)" wheel_mass="$(arg wheel_mass)"/>

  <xacro:robot_savo_sensors
    lidar_xyz="$(arg lidar_xyz)" lidar_rpy="$(arg lidar_rpy)"
    imu_xyz="$(arg imu_xyz)" imu_rpy="$(arg imu_rpy)"
    camera_xyz="$(arg camera_xyz)" camera_rpy="$(arg camera_rpy)"
    camera_color_xyz="$(arg camera_color_xyz)"
    camera_color_rpy="$(arg camera_color_rpy)"
    tof_left_xyz="$(arg tof_left_xyz)" tof_left_rpy="$(arg tof_left_rpy)"
    tof_right_xyz="$(arg tof_right_xyz)" tof_right_rpy="$(arg tof_right_rpy)"
    ultrasonic_xyz="$(arg ultrasonic_xyz)" ultrasonic_rpy="$(arg ultrasonic_rpy)"
    display_xyz="$(arg display_xyz)" display_rpy="$(arg display_rpy)"
    respeaker_xyz="$(arg respeaker_xyz)" respeaker_rpy="$(arg respeaker_rpy)"
    pantilt_mount_xyz="$(arg pantilt_mount_xyz)"
    pantilt_mount_rpy="$(arg pantilt_mount_rpy)"/>

  <xacro:robot_savo_two_pi/>

  <xacro:robot_savo_costmap_frames depth_obstacle_xyz="$(arg depth_obstacle_xyz)"/>

  <xacro:if value="$(arg use_transmissions)">
    <xacro:robot_savo_transmissions/>
  </xacro:if>

  <xacro:if value="$(arg use_gazebo)">
    <xacro:robot_savo_gazebo/>
  </xacro:if>

</robot>
